<footer>
  <div class="row text-center">
      <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
          <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
  </div>
  <div class="row" id="footer2">
      <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-6 text-left">
                  <a target='_blank' href='https://www.linkedin.com/pub/%C3%B3scar-jorge-castillo/30/27a/680'>
                      <img src="/AntonioEscribano/logos/linkedin32.png" />
                  </a>
                  Developed by Óscar Jorge Castillo
              </div>
              <div class="col-sm-6 text-right">
                  <a target="_blank" href="https://www.facebook.com/escribanocomercial">
                      <img src="/AntonioEscribano/logos/FaceBook64.png" width="40" height="40" /></a>

                  <a target="_blank" href="https://www.facebook.com/escribanocomercial">
                      <img src="/AntonioEscribano/logos/Twitter64.png" width="40" height="40" /></a>

                  <a target="_blank" href="https://www.facebook.com/escribanocomercial">
                      <img src="/AntonioEscribano/logos/youtube64.png" width="40" height="40" /></a>

              </div>
          </div>

      </div>
  </div>
  <div class="row" id="footer1">
      <div class="col-sm-4">
          <div class="row">
              <div class="col-sm-1">
                  <a target='_blank' href='https://www.linkedin.com/pub/%C3%B3scar-jorge-castillo/30/27a/680'>
                      <img src="/AntonioEscribano/logos/linkedin32.png" />
                  </a>
              </div>
              <div class="col-sm-11 text-left">
                  Developed by Óscar Jorge Castillo
              </div>

          </div>
      </div>
      <div class="col-sm-4 text-center">
          <div class="row">
              <div class="col-sm-4 ">
                  <a target="_blank" href="https://www.facebook.com/escribanocomercial">
                      <img src="/AntonioEscribano/logos/FaceBook64.png" width="40" height="40" /></a>
              </div>
              <div class="col-sm-4 ">
                  <a target="_blank" href="https://www.facebook.com/escribanocomercial">
                      <img src="/AntonioEscribano/logos/Twitter64.png" width="40" height="40" /></a>
              </div>
              <div class="col-sm-4 ">
                  <a target="_blank" href="https://www.facebook.com/escribanocomercial">
                      <img src="/AntonioEscribano/logos/youtube64.png" width="40" height="40" /></a>
              </div>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="row">
              <div class="col-sm-11 text-right">
                  Photos by Raquel Ruiz Terrón
              </div>
              <div class="col-sm-1">
                  <a target='_blank' href='http://raquelruizphoto.tumblr.com/'>
                      <img src="/AntonioEscribano/logos/tumblr32.png" />
                  </a>
              </div>
          </div>
      </div>
  </div>


</footer>