
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Antonio Escribano</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    
    <ul class="navbar-nav">
      <li class="nav-item">
        <a  class="nav-link" href="#myCarousel">HOME</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="#qs">QUIENES SOMOS</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="#nuestrosvinos">NUESTROS VINOS</a>
      </li> 
      <li class="nav-item">
        <a  class="nav-link" href="#contacta">CONTACTA</a>
      </li> 
      <li class="nav-item">
        <a  class="nav-link" href="#googleMap">SITUACIÓN</a>
      </li> 
    </ul>
  </div> 
</nav>


