<div class="container-fluid text-center" id="nuestrosvinos">

    <div class="row content-fluid">

        <div class="col-sm-6 text-left">
            <div class="container-fluid grid">
                <div class="capaImagen orden0">
                    <a id="texto2" href="">Langiz</a>
                    <img src="/assets/images/VinoLangiz.png" class="imagenInicial" />
                </div>
                <div class="capaImagen orden1">
                    <a id="texto1" href="">Clarete</a>
                    <img src="/assets/images/VinoRosado.png" class="imagenInicial" />
                </div>
                <div class="capaImagen orden2">
                    <a id="texto4" href="">Blanco</a>
                    <img src="/assets/images/VinoBlanco.png" class="imagenInicial" />
                </div>
                <div class="capaImagen orden3">
                    <a id="texto0" href="">Tinto de Año</a>
                    <img src="/assets/images/tintoAnio.png" class="imagenInicial" />
                </div>
                <div class="capaImagen orden4">
                    <a id="texto3" href="">Crianza</a>
                    <img src="/assets/images/VinoCrianza.png" class="imagenInicial" />
                </div>
                <div class="capaImagen orden5">
                    <a id="texto5" href="">Gran Reserva</a>
                    <img src="/assets/images/VinoGranReserva.png" class="imagenInicial" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="descOrden descOrden-1">
                <div>
                    <p>
                        El Consejo Regular de la Denominación de vinos de Rioja, establece según el grado de envejecimiento, y una vez superados los controles de calidad, cuatro categorías diferenciadas para las  contraetiquetas que figuran en las botellas.
                    </p>

                    <p><em>Garantia de Origen (vinos jóvenes)</em></p>
                    <p>Esta categoría garantiza el origen y añada del vino. Suelen ser vinos en su primer o segundo año, que conservan sus características primarias de frescor y afrutado.</p>

                    <p><em>Crianza</em></p>
                    <p>Corresponde a vinos al menos en su tercer año que han permanecido un año como mínimo en barrica de roble.</p>
                    <p><em>Reserva</em></p>
                    <p>Corresponde a vinos muy seleccionados con una crianza mínima entre barrica de roble y botella de tres años, de los cuales uno al menos en barrica.</p>
                    <p><em>Gran Reserva</em></p>
                    <p>Corresponde a vinos de grandes cosechas que han sido criados un mínimo de dos años en barrica de roble y tres años en botella</p>


                </div>
            </div>
            <div class="descOrden descOrden0">
                <div>
                    <p>
                        LANGUIZ<br />
                        BODEGA ANTONIO ESCRIBANO<br />
                    </p>
                    <p>
                        Botella: 1,50 €<br />
                        Caja de 12 botellas: 18,00 €<br />
                    </p>
                </div>
            </div>
            <div class="descOrden descOrden1">
                <div>
                    <p>
                        CLARETE-AÑO<br />
                        BODEGA ANTONIO ESCRIBANO<br />
                        DENOMINACIÓN DE ORIGEN RIOJA
                    </p>
                    <p>
                        Botella: 2,00 €<br />
                        Caja de 12 botellas: 24,00 €<br />
                        Caja 5 L.: 9,00 € (precio litro 1,80€)<br />
                        Caja 15 L.: 21,00 € (precio litro 1,40€)<br />
                    </p>
                </div>
            </div>
            <div class="descOrden descOrden2">
                <div>
                    <p>
                        BLANCO-AÑO<br />
                        BODEGA ANTONIO ESCRIBANO<br />
                        DENOMINACIÓN DE ORIGEN RIOJA
                    </p>
                    <p>
                        Botella: 2,00 €<br />
                        Caja de 12 botellas: 24,00 €<br />
                        Caja 5 L.: 9,00 € (precio litro 1,80€)<br />
                        Caja 15 L.: 21,00 € (precio litro 1,40€)<br />
                    </p>
                </div>
            </div>
            <div class="descOrden descOrden3">
                <div>
                    <p>
                        TINTO DE AÑO<br />
                        BODEGA ANTONIO ESCRIBANO<br />
                        DENOMINACIÓN DE ORIGEN RIOJA
                    </p>
                    <p>
                        Añada: 2015.<br />
                        Enología: Antonio Escribano Pascual<br />
                        Región: Samaniego (Rioja Alavesa).<br />
                        Variedad: 90% Tempranillo, 10% viura.<br />
                        Tipo de barrica: roble americano y francés.<br />
                        Grado: 13% Vol.
                    </p>
                    <p>Este vino joven color rojo picota, ha sido elaborado mediante métodos tradicionales, como ya se hiciera en el Siglo XIII por nuestros antepasados, dotándole del intenso afrutado propio de la maceración carbónica. Aroma franco de alta intensidad, fresco, vibrante. Bien estructurado concediéndole un suave final.</p>
                    <p>
                        Botella: 2,00 €<br />
                        Caja de 12 botellas: 24,00 €<br />
                        Caja 5 L.: 9,00 € (precio litro 1,80€)<br />
                        Caja 15 L.: 21,00 € (precio litro 1,40€)<br />
                    </p>
                </div>
            </div>
            <div class="descOrden descOrden4">
                <div>
                    <p>
                        CRIANZA<br />
                        BODEGA ANTONIO ESCRIBANO<br />
                        DENOMINACIÓN DE ORIGEN RIOJA
                    </p>
                    <p>
                        Añada: 2013.<br />
                        Enología: Antonio Escribano Pascual<br />
                        Región: Samaniego (Rioja Alavesa).<br />
                        Variedad: 90% Tempranillo, 10% viura.<br />
                        Tipo de barrica: roble americano y francés.<br />
                        Permanencia en barrica: 12 meses
                        <br />
                        Grado: 13% Vol.
                    </p>
                    <p>Color rubí, presenta intenso aroma de fruta madura, bien combinado con toques tostados y notas de vainilla. Amplio y equilibrado en boca, con una perfecta armonía entre los sutiles taninos. Sabroso y corpulento conservando su finura y elegancia.</p>
                    <p>
                        Botella: 2,50 €<br />
                        Caja de 12 botellas: 30,00 €<br />
                        Caja 5 L.: 12,00 € (precio litro 2,40€)<br />
                        Caja 15 L.: 30,00 € (precio litro 2,00€)<br />
                    </p>
                </div>
            </div>
            <div class="descOrden descOrden5">
                <div>
                    <p>
                        GRAN RESERVA/RESERVA<br />
                        BODEGA ANTONIO ESCRIBANO<br />
                        DENOMINACIÓN DE ORIGEN RIOJA
                    </p>
                    <p>
                        Botella: 5,00 €<br />
                        Caja de 6 botellas: 30,00 €<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row content text-center">
    </div>
</div>