
<div id="CarouselBotellas" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#CarouselBotellas" data-slide-to="0" class="active"></li>
        <li data-target="#CarouselBotellas" data-slide-to="1"></li>
        <li data-target="#CarouselBotellas" data-slide-to="2"></li>
        <li data-target="#CarouselBotellas" data-slide-to="3"></li>
        <li data-target="#CarouselBotellas" data-slide-to="4"></li>
        <li data-target="#CarouselBotellas" data-slide-to="5"></li>

    </ul>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="/assets/images/VinoLangiz.png" alt="" />
            <div class="carousel-caption">
                <div>

                    <h3>LANGUIZ</h3>
                    <br />
                    <p>BODEGA ANTONIO ESCRIBANO</p>
                    <p>
                        Botella: 1,50 €<br />
                        Caja de 12 botellas: 18,00 €<br />
                    </p>
                </div>
            </div>
        </div>
        
        <div class="carousel-item">
            <img src="/assets/images/tintoAnio.png" alt="" />
            <div class="carousel-caption">
                <div>
                    <h3>TINTO DE AÑO</h3>
                    <br />
                    DENOMINACIÓN DE ORIGEN RIOJA
                <p>
                    Añada: 2015.<br />
                    Enología: Antonio Escribano Pascual<br />
                    Región: Samaniego (Rioja Alavesa).<br />
                    Variedad: 90% Tempranillo, 10% viura.<br />
                    Tipo de barrica: roble americano y francés.<br />
                    Grado: 13% Vol.
                </p>
                <p>Este vino joven color rojo picota, ha sido elaborado mediante métodos tradicionales, como ya se hiciera en el Siglo XIII por nuestros antepasados, dotándole del intenso afrutado propio de la maceración carbónica. Aroma franco de alta intensidad, fresco, vibrante. Bien estructurado concediéndole un suave final.</p>
                <p>
                    Botella: 2,00 €<br />
                    Caja de 12 botellas: 24,00 €<br />
                    Caja 5 L.: 9,00 € (precio litro 1,80€)<br />
                    Caja 15 L.: 21,00 € (precio litro 1,40€)<br />
                </p>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/VinoCrianza.png" alt="" />
            <div class="carousel-caption">
                <div>
                    <h3>CRIANZA</h3>
                    
                    DENOMINACIÓN DE ORIGEN RIOJA
                <p>
                    Añada: 2013.<br />
                    Enología: Antonio Escribano Pascual<br />
                    Región: Samaniego (Rioja Alavesa).<br />
                    Variedad: 90% Tempranillo, 10% viura.<br />
                    Tipo de barrica: roble americano y francés.<br />
                    Permanencia en barrica: 12 meses
                    <br />
                    Grado: 13% Vol.
                </p>
                <p>Color rubí, presenta intenso aroma de fruta madura, bien combinado con toques tostados y notas de vainilla. Amplio y equilibrado en boca, con una perfecta armonía entre los sutiles taninos. Sabroso y corpulento conservando su finura y elegancia.</p>
                <p>
                    Botella: 2,50 €<br />
                    Caja de 12 botellas: 30,00 €<br />
                    Caja 5 L.: 12,00 € (precio litro 2,40€)<br />
                    Caja 15 L.: 30,00 € (precio litro 2,00€)<br />
                </p>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/VinoGranReserva.png" alt="" />
            <div class="carousel-caption">
                <div>
                    <h3>GRAN RESERVA/RESERVA</h3>
                    <br />
                    BODEGA ANTONIO ESCRIBANO<br />
                    DENOMINACIÓN DE ORIGEN RIOJA
                <p>
                    Botella: 5,00 €<br />
                    Caja de 6 botellas: 30,00 €<br />
                </p>
            </div>
            </div>
        </div>




    </div>
   <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#CarouselBotellas" data-slide="prev">
      <span class="fa fa-angle-left fa-2x"></span>
    </a>
    <a class="carousel-control-next" href="#CarouselBotellas" data-slide="next">
      <span class="fa fa-angle-right fa-2x"></span>
    </a>
</div>
