<li class="nav-item" *ngIf="!isAuth()">
    <button class="btn btn-sm btn-primary" routerLink="/login"><i class="fas fa-sign-in-alt"></i></button>
    <button class="btn btn-sm btn-primary" routerLink="/registro">Registrar</button>
</li>
<li class="nav-item" *ngIf="isAuth()">
    <div class="btn-group">
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nombre usuario
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item"  routerLink="/perfil">Perfil</a>
          <a class="dropdown-item"  routerLink="/index_private">Zona privada</a>
          <a class="dropdown-item" (click)="logOut()" href="#">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
        </div>
      </div>
</li>
