<form role="form" id="formLlamanos" class="form">

  <div class="col-lg-6 form-group" id="capatelefono">
      <div class="row">
          <div class="col-lg-12">
              <h2>...o si lo prefieres te llamamos nosotros</h2>
          </div>
      </div>
      <div class="form-group">
          <label for="txtNombre2" id="Label5" class="control-label">Nombre</label>
          <div class="input-group">
              <input type="text" id="txtNombre2" name="txtNombre2" class="form-control" placeholder="Escribe aquí tu nombre" />
              <span class="input-group-addon"><span class="fa fa-asterisk"></span></span>
          </div>
      </div>
      <div class="form-group">
          <label for="txtEmail2" id="Label6" class="control-label">Mail</label>
          <div class="input-group">
              <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
              <input type="text" id="txtEmail2" name="txtEmail2" class="form-control" placeholder="Escribe aquí tu mail" />
          </div>
      </div>
      <div class="form-group">
          <label for="txtTelefono" id="Label7" class="control-label">Mail</label>
          <div class="input-group">
              <span class="input-group-addon"><span class="fa fa-mobile"></span></span>
              <span class="input-group-addon"><span class="fa fa-phone"></span></span>
              <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Escribe aquí tu teléfono" />
              <span class="input-group-addon"><span class="fa fa-asterisk"></span></span>
          </div>
      </div>
      <div class="form-group">
          <button class="submit btn btn-default btn-lg pull-right" type="button" id="btnLlamadme"><span class="fa fa-align-right fa-phone"></span>Llamadme ahora</button>
      </div>
      <div class="form-group">
          <div class="g-recaptcha" data-sitekey="6LfS8hQTAAAAAKROByGA6HLfn0fTCfBiUhi0X-eK"></div>
          <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha2" id="hiddenRecaptcha2"/>
      </div>
  </div>

</form>