<nav class="navbar   navbar-expand-lg bg-faded  sticky-top">
    <a class="navbar-brand" href="#"><p>Antonio</p><p>Escribano</p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <div style="color:white">
        <span class="fa fa-align-justify"></span>
        </div>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
           
            <li class="nav-item active">
                <a class="nav-link" href="#myCarousel">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#qs">Quienes somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#nuestrosvinos">Nuestros vinos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contacta">Contacta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#googleMap">Situación</a>
            </li>
        </ul>
        <ul class="navbar-nav">
                <app-login-registro></app-login-registro>
        </ul>
    </div>
</nav>


